.root {
  min-height: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #f4f6f8;
}
.productCard {
  padding: 20px;
  margin: 12px;
}
.productCard-Image {
  object-fit: cover;
  text-align: center;
  text-indent: 10000px;
}
.productCard-Btn{
  padding: 8px!important;
    font-size: 12px!important;
    background: #1C4e80 !important;
    color: #ffffff !important;
}
.toolBar-Btn{
  position:relative!important;
  padding:13px 10px!important;
  font-size: 15px!important;

}
.card__inner {
  display: flex !important;
  flex-direction: column !important;
}

.cardcont {
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-gap: 40px;
}
.plus {
  display:inline-block;
  width:120px;
  height:120px;
  right: 0;
  margin: auto;
  position: relative;
  
  background:
    linear-gradient(#fff,#fff),
    linear-gradient(#fff,#fff),
    #ea6a47;
  background-position:center;
  background-size: 50% 10px,10px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat:no-repeat;
}



.alt {
  background:
    linear-gradient(#000,#000),
    linear-gradient(#000,#000);
  background-position:center;
  background-size: 50% 10px,10px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat:no-repeat;
}
.radius {
  border-radius:50%;
}

.swal2-popup{
  left: 10% !important;
}


